*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: grid;
  place-content: center;
  height: 100dvh;
}

.board {
  --cell-size: 100px;

  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
}

.cell.disabled {
  pointer-events: none;
}
